@import url(https://fonts.googleapis.com/css?family=Karla:400);



.wrapper{
  width: 250px;
  height: auto;
  margin: auto;
  text-align: center;
}


.dtmf-interface{
  width:250px;
  margin:0;
  padding:0;
  overflow:hidden;
}

.dtmf-interface li{
  float:left;
  margin:10px;
  list-style:none;
  width:30px;
  height:30px;
  text-align:center;
  line-height:30px;
  font-size: 24px;
  border: solid 1px #333;
  border-radius:3px;
  padding:15px;
  transition: all 0.5s;
}

.dtmf-interface li:hover{
  color: #3CD9FD;
  border-color:#3CD9FD;
  transition-duration:0s;
  cursor:pointer;
}

.dtmf-interface li:active{
  color: #F60;
  border-color:#F60;
  transition-duration:0s;
}

.clear {
  opacity: 0;
}

.del::before {
  content: "❌";
  font-size: 25px;
}

.del {
  border: 0px !important;
  position: relative;
  left: 16px;
  width: 50px;
  height: 50px;
  float: left;
  background-color: transparent;
}



#button-call {
  border: 0px !important;
  position: relative;
  width: 92%;
  top: 10px;
  height: 50px;
  left: -2px;
  padding: 0;
  margin: 0;
  font-size: 20px;
  background-color: #23e673;
  color: white;
  cursor: pointer;
}

#button-call::before {
  content: 'Call';
}

#button-call.live::before {
  content: 'End';
}

#button-call.live {
  background-color: red;
  color: white;
}

button.contacts {
  display: none;
}
